#about-story-nav {
    text-align: center;
    cursor: pointer;

    @media (min-width: $mq-xxl) {
        display: none;
    }
}

.nav-clicked {
    color: darken($bright-color, 10%);
    text-decoration: underline;
}

#my-story-wrapper,
#my-stats-wrapper {
    margin: 20px auto 60px;
    max-width: 660px;

    h1 {
        font-size: 3em;
        text-align: center;
        text-decoration: underline;
        text-shadow: 3px 3px 8px black;
    }

}

#my-story-content {
    color: lighten($earth-color, 32%);
    width: 93%;
    display: block;
    margin: 0 auto;
    p:first-of-type::first-letter {
        display: block;
        float: left;
        line-height: .45;
        margin-right: 5px;
        margin-top: 7px;
        font-size: 3rem;
        font-family: 'Times New Roman', Times, serif;
    }
}

#my-stats-wrapper {
    display: none;

    @media (min-width: $mq-md) {
        padding: 0 20px 20px;

        position: relative;
        background-image: url('../../images/math-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 20% 75%;
        border: 2px solid $bright-color;
        border-radius: 30px;
        
    
        &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            opacity: .895;
            background: $dark-green-color;
            background-blend-mode: multiply;
            border-radius: 30px;
        }

        #resume-img,
        ul, li,
        h1, h2 {
            z-index: 10;
            position: relative;
        }

    

        #resume-img {
            max-width: 400px;
        }

        #about-lists-wrapper {
            display: flex;
        }
    }

    @media (min-width: $mq-xxl) {
        display: block;
        
    }

    #specialties,
    #experience {
        color: lighten($earth-color, 32%);

        #experience-ul,
        #specialties-ul {
            margin-left: 28px;
        }

        ul {
            display: block;

            h2 {
                font-size: 25px;
                color: $bright-color;
            }

            li {
                margin-left: 20px;
                font-size: 18px;
            }
        }
    }
}

#headshot-img,
#resume-img {
    border: $earth-color 2px solid;
    display: block;
    box-shadow: 3px 3px 9px black;
}

#headshot-img {
    max-width: 200px;
    border-radius: 50%;
    margin: 0 auto 30px;
}

#resume-img {
    max-width: 340px;
    margin: 20px auto 30px;

    @media(max-width: $mq-xs) {
        max-width: 300px;
    }
}

#programs-wrapper {
    width: 96%;
    margin: 0 auto 70px;
    padding: 0 14px 0 8px;
    border: solid $bright-color 2px;
    border-radius: 30px;

    position: relative;
    background-image: url('../../images/math-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;

    &:before {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: .895;
        background: $dark-green-color;
        background-blend-mode: multiply;
        border-radius: 30px;
    }

    h1, h2, ul, li {
        z-index: 10;
        position: relative;

    }

    h1 {
        text-align: center;
        text-shadow: 3px 3px 9px black;
    }

    h2 {
        margin-bottom: 10px;
    }

    ul {
        margin-left: 14px;

        li {
            margin-left: 24px;
            font-size: 17px;
        }
    }

    @media (min-width: $mq-lg) {
        max-width: 1120px;
        margin: 0 auto 80px;

        #programs {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        h1, ul {
            width: 30%;
            align-self: center;
        }

    }
}

@media (min-width: $mq-xxl) {
    #about-main-wrapper {
        width: 1120px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        #my-story-wrapper {
            margin-right: 40px;
            margin-bottom: 30px;

            h1 {
                font-size: 58px;
            }

            #headshot-img {
                float: left;
                margin: 0 24px 20px 0;
                max-width: 230px;
            }

            #my-story-content{
                margin-top: 40px;

                p {
                    font-size: 17px;
                    &:first-of-type::first-letter {
                        line-height: .45;
                        margin-right: 6px;
                        margin-top: 10px;
                        font-size: 3.2rem;
                        font-family: 'Times New Roman', Times, serif;
                    }
                }
            }
        }

        #my-stats-wrapper {
            width: 330px;
            border: solid 2px $bright-color;
            border-radius: 30px;
            align-self: center;

            h1 {
                font-size: 40px;
            }
         
            #resume-img {
                max-width: 280px;
            }

            #about-lists-wrapper {
                display: block;
            }
        }
    }
}