footer {
    color: $dark-green-color;
    border-top: $earth-color 2px solid;
    border-bottom: $earth-color 1px solid;
    box-shadow: 0px -1px 16px rgb(39, 39, 39);
    position: relative;
    bottom: 0;
    width: 100%;
    background: linear-gradient(-16deg, darken($dark-green-color, 10%) -115%, $bright-color 18%, white 130%);
    z-index: 1000;
    font-size: 14px;

    #footer-wrapper {
        display: flex;
        justify-content: space-between;

        @media (min-width: $mq-md) {
            font-size: 16px;
        }

        @media (min-width: $mq-xl) {
            @include wrapper;
            justify-content: space-around;
        }

        p {
            color: $dark-green-color;
            width: 40%;
            padding: 0 6px 0 16px;
            font-weight: bold;
            align-self: center;
        }

        #footer-contact {
            font-weight: bold;
            ul,
            li {
                padding-left: 4px;
                padding-right: 12px;
                color: $dark-green-color;
            }
        }

    }
}