header {
    #nav-wrapper {
        border-bottom: $earth-color 2px solid;
        border-top: $earth-color 1px solid;
        box-shadow: 0px 1px 16px rgb(39, 39, 39);
        position: fixed;
        top: 0;
        width: 100%;
        height: 75px;
        background: linear-gradient(-16deg, darken($dark-green-color, 10%) -115%, $bright-color 18%, white 130%);
        z-index: 1000;

        @media (min-width: $mq-xl) {
            height: 84px;
        }
    }

    nav {
        color: $dark-green-color;
        display: flex;
        justify-content: space-between;
        height: 100%;

        @media (min-width: $mq-xl) {
            @include wrapper;
        }

        h2,
        #nav-dropdown-wrapper {
            align-self: center;
        }

        #nav-dropdown-wrapper {
            position: relative;
        }

        #nav-menu-icn:hover {
            color: lighten($dark-green-color, 15%)
        }

        #nav-dropdown a {
            color: $dark-green-color;
            padding: 14px 0;
            text-align: center;
            display: block;
            text-decoration: none;
            font-weight: bold;
            border-bottom: solid 1px rgb(110, 110, 110);
        }

        #nav-dropdown a:hover {
            background-color: lighten($bright-color, 23%);
            text-decoration: underline;
        }

        .hide {
            display: none;
        }

        .show {
            display: block;
            position: absolute;
            right: 0;
            top: 55px;
            background-color: lighten($bright-color, 31%);
            width: 100vw;
            z-index: 1000;
        }

        h2 {
            margin: 0;
            padding-left: 16px;
            display: inline-block;

            @media (min-width: $mq-xl) {
                font-size: 38px;
            }
        }
        #nav-menu-icn {
            font-size: 34px;
            padding-right: 25px;

            @media (min-width: $mq-xl) {
                display: none;
            }
        }

        #nav-menu {
            display: none;

            @media (min-width: $mq-xl) {
                display: flex;
                width: 300px;
                justify-content: space-between;

                .nav-menu-item {
                    align-self: center;
                }

                a {
                text-decoration: none;
                }
            }
        }
    }

    #header-banner {
        height: 260px;
        background-image: url(../../images/study_session.jpg);
        background-repeat: no-repeat;
        background-size: 116% auto;
        background-position: 100% 10%;
        margin: 66px 0 0 0;
        border-bottom: $earth-color 3px solid;
        box-shadow: 0 1px 0 black;
        position: relative;

        @media (min-width: $mq-xl) {
            height: 410px;
            background-size: 104% auto;
            background-position: 100% 30%;
        }

        #header-bottom-text {
            position: absolute;
            bottom: 0;
            margin: 0;
            padding: 6px 0;
            width: 100%;
            text-align: center;
            border-top: solid 1px black;
            background-color: rgba($color: lighten($bright-color, 30%), $alpha: 0.75);
            color: darken($dark-green-color, 30%);

            @media (min-width: $mq-xl) {
                font-size: 25px;
            }
        }
    }
}

