.section-heading {
    text-align: center;
    text-shadow: 3px 3px 8px black;
    margin: 64px 8px 36px;

    @media (min-width: $mq-xl) {
        font-size: 44px;
        margin: 96px 0 60px;
    }
}

.section-img-left,
.section-img-right {
    width: 50%;
    display: block;
    margin: 16px 16px 6px 16px;
    border: $earth-color solid 1px;

    @media (min-width: $mq-xl) {
        width: 28%;
    }
}

.section-img-left {
    float: left;
    box-shadow: 2px 2px 8px black;

    @media (min-width: $mq-xl) {
        margin: 10px 30px 12px 6px;
    }
}

.section-img-right {
    float: right;
    box-shadow: -2px 2px 8px black;

    @media (min-width: $mq-xl) {
        margin: 10px 4px 12px 30px;
    }
}

.section-text-wrapper {
    width: 100%;
    background-color: lighten($earth-color, 38%);
    border-top: $earth-color solid 2px;
    border-bottom: $earth-color solid 2px;
    box-shadow: 0 1px 26px 1px rgb(24, 24, 24);
}

.section-text {
    font-size: 17px;
    overflow: auto;
    color: darken($dark-green-color, 20%);
    p {
        padding: 0 17px;
        margin-bottom: 14px;

        @media (min-width: $mq-xl) {
            font-size: 20px;
        }
    }

    @media (min-width: $mq-xl) {
        @include wrapper;
    }
}