.section:nth-child(2n) {
    background-color: lighten($earth-color, 37%);

    .section-heading {
        text-shadow: 3px 3px 8px rgb(148, 148, 148);
        color: lighten($dark-green-color, 7%);
    }
}

.section:nth-child(2n + 1) {
    background-color: $dark-green-color;

    .section-heading {
        text-shadow: 3px 3px 8px black;
    }

    p, a {
        color: lighten($earth-color, 38%);
    }

    a:hover {
        color: rgb(175, 175, 175);
    }
}

.section:last-child {
    padding-bottom: 60px;

    .section-content-wrapper {
        border-bottom: none;
    }
}

.section-heading {
    text-align: center;
    padding: 30px 8px 36px;
    margin: 0;

    @media (min-width: $mq-xl) {
        font-size: 44px;
        padding: 100px 0 40px;
    }
}

.section-img-left,
.section-img-right {
    width: 50%;
    display: block;
    margin: 16px 16px 6px 16px;
    border: $earth-color solid 1px;

    @media (min-width: $mq-xl) {
        height: 80%;
    }
}

.section-img-left {
    float: left;
    box-shadow: 2px 2px 8px black;

    @media (min-width: $mq-xl) {
        margin: 10px 30px 12px 6px;
    }
}

.section-img-right {
    float: right;
    box-shadow: -2px 2px 8px black;

    @media (min-width: $mq-xl) {
        margin: 10px 4px 12px 30px;
    }
}

.section-content-wrapper {
    width: 100%;
    border-bottom: $earth-color solid 6px;
    padding-bottom: 50px;
}

.section-content {
    font-size: 17px;
    overflow: auto;
    color: darken($dark-green-color, 20%);
    p {
        padding: 0 17px;
        margin-bottom: 14px;

        @media (min-width: $mq-xl) {
            font-size: 21px;
        }
    }

    @media (min-width: $mq-xl) {
        @include wrapper;
        // display: flex;
    }
}