html {
    font-size: 16px;
    overflow-x: hidden;
}

body,
html {
    background: white;
    color: black;
    margin: 0;
    box-sizing: border-box;
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
}

p {
    font-family: $font-main;
}

a {
    font-family: $font-main;
}