// Colors +_+_+_+_+_
// +_+_+_+_+_+_+_+_+_

$bright-color: 	#00ebeb;
$earth-color: #c09569;
$dark-green-color: #005555;

// Fonts +_+_+_+_+_
// +_+_+_+_+_+_+_+_+_

$font-titles: 'Roboto Slab', serif;
$font-text: 'Lato', sans-serif;