// Colors +_+_+_+_+_
// +_+_+_+_+_+_+_+_+_

$bright-color: 	#00ebeb;
$earth-color: #c09569;
$dark-green-color: #005555;

// Fonts +_+_+_+_+_
// +_+_+_+_+_+_+_+_+_

$font-titles: 'Roboto Slab', serif;
$font-text: 'Lato', sans-serif;

// Screen Sizes +_+_+_
// +_+_+_+_+_+_+_+_+_

$mq-xs: 374px;
$mq-sm: 375px;
$mq-md: 560px;
$mq-lg: 780px;
$mq-xl: 940px;